.img {
    height: 31px;
    width: 103px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.extra-margin {
    margin-top: 200px;
}

.btn {
    width: 350px;
    margin-top: 20px;
}

#words1 {
    font-weight: bold;
    font-size: 14px;
}

#words2 {
    font-weight: bold;
    font-size: 14px;
}

.sign-in {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

.footer1 {
    width: max;
    height: 350px;
    background-color: #fff;
    margin-top: 30px;
}

#sign-in {
    margin-bottom: 10px;
}

#grey-button {
    background-color: lightgrey;
    border: black;
} 